$bg-primary: #171313;
$bg-secondary: #0000003D;
$bg-green: #CDF567;
$bg-pink: #FFD0D5;
$bg-orange: #ffc68e;
$bg-white: #ffffff;
$bg-blue: #A4C9D8;


$font-green: #CDF567;
$font-orange: #ffe818;
$font-pink: #fb7ea8;
$font-gray: #837e7e;
$font-primary: #171313;
$font-white: #ffffff;
$font-black: #000000;


